<launch>
<!-- ATTENTION mettre les fichiers utilisés sur la branche -->
<!-- lance simulation sur chrono initialiser 0 -->
    <param name="/use_sim_time" value="true" /> 
     <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
     <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    

<!-- fait marcher le scan -->


<!-- gmapping -->    
    <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:scan">
    	<param name="maxUrange" value="4.0"/>
    </node>

    <node pkg="urg_node" name="Laser" type="urg_node">
        <param name="angle_min" value="-1.35"/>
        <param name="angle_max" value="1.35"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_in_odom" args="2.3 4.0 0.01 0.8 0.0 0.0 /odom /base_footprint 80" />
<!-- Vision un python qui tourne avec une intelligence déja entrainée .xml qu'on log dans le load cascade-->
    <node pkg="grp-jade" name = "reconnaissance" type="challenge2.py" output="screen"/>
    <node pkg="grp-jade" name = "ricochet" type="ricochet.py" output="screen"/>

<!-- Lance rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find grp-jade)/include/rvizconfiglaser_rosbag.rviz"/>  
    
</launch>
