<launch>
<!-- ATTENTION mettre les fichiers utilisés sur la branche -->
<!-- lance simulation sur chrono initialiser 0 -->
     <param name="/use_sim_time" value="true" /> 
     <!--<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>-->
     
    <include file="$(find larm)/launch/challenge-1.launch"/>

<!-- fait marcher le scan -->
    <arg name="scan_topic"  default="scan" />

<!-- gmapping -->    
    <node name="gmapping" pkg="gmapping" type="slam_gmapping">
    	<remap from="scan" to="$(arg scan_topic)"/>
    	<param name="maxUrange" value="4.0"/>
    </node>

<!-- node pour exploration-->
    <!--il n'y a pas la reconnaissance car il n'y a pas de canette en simulation-->
    <!--<node pkg="grp-jade" name = "reconnaissance" type="detection.py" output="screen"/>-->
    <node pkg="grp-jade" name = "ricochet" type="ricochet_simul.py" output="screen"/>

<!-- Lance rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find grp-jade)/include/rvizconfiglaser_rosbag.rviz"/>  
    
</launch>
