<launch>
    <param name="/use_sim_time" value="true" />
    <arg name="scan_topic"  default="scan" />
    <include file="$(find larm)/launch/challenge-1.launch"/>
    
    <node name="gmapping" pkg="gmapping" type="slam_gmapping">
    	<remap from="scan" to="$(arg scan_topic)"/>
    	<param name="maxUrange" value="4.0"/>
    </node>

    <node pkg="grp-jade" name="fonction" type="fonction.py"/>
   
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find grp-jade-challenge2)/rviz/rvizconfiglaser_rosbag.rviz"/>
      
</launch>
